# Python cache
__pycache__/
**/__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Alembic cache (important because I see it inside alembic_tenant)
alembic_tenant/__pycache__/

# Celery beat files
celerybeat-schedule*
celerybeat-schedule
*.bak
*.dat
*.dir

# OS files
.DS_Store
Thumbs.db